@import '../../reusable-styling/mixins/mixins';
@import '../../reusable-styling/fonts';

body{
    background: rgb(230,191,208);
background: radial-gradient(circle, rgba(230,191,208,1) 69%, rgba(174,238,255,1) 100%);
    font-family: "Raleway";
}

.login{
    background-color: $apricot;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin: 80px auto 40px auto;
    width: 20%;
    

    &__config{

    
    }
}