@import '../reusable-styling/mixins/mixins';

.navbar{
    background-color: $melon;
    color: $liver;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
    border-radius: 10px;
    
    &__header{
        margin: 0;
        padding: 0 16px;
        font-size: 16px;
    }
    &__streak{
        margin: 0;
        padding: 0 16px;
        font-size: 16px;
    }
}