@import '../variables/variables';

@mixin desktopSize {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin tabletSize {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin button {
        width: 10rem;
        height: 2rem;
        border-radius: 10px;
        border: 4px solid $melon;
        background-color: $apricot;
        font-size: 18px;
        color: $liver;
}


@mixin buttonHover{
    width: 12rem;
    height: 3rem;
    font-weight: bold;
   
}