@import '../../reusable-styling/mixins/mixins';
@import '../../reusable-styling/fonts';

body{
    background: rgb(230,191,208);
background: radial-gradient(circle, rgba(230,191,208,1) 69%, rgba(174,238,255,1) 100%);
    font-family: "Raleway";
}

.home{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto 16px;

    &__body{
        margin-top: 50px;
        font-size: 20px;
        height: 80%;
        width: 80%;
        background-color: $apricot;
        border-radius: 10px;
        padding: 16px;
        color: $liver;
        @include tabletSize{
            font-size: 24px;
        }
    }
    &__image{
        width: 40%;
        height: 40%;
        border-radius: 50%;
    }

    &__button{
        @include button;
        margin: auto 16px;
        margin-top: 25px;
        align-self: flex-end;
        &:hover{
            @include buttonHover;
        }
    }
}

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}