@import '../../reusable-styling/mixins/mixins';
@import '../../reusable-styling/fonts';

body{
    background: rgb(230,191,208);
background: radial-gradient(circle, rgba(230,191,208,1) 69%, rgba(174,238,255,1) 100%);
    font-family: "Raleway";
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    @include tabletSize{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 100px 24px;
        align-content: center;
    }
    &__entry--container{
        margin-top: 50px;
        height: 80%;
        width: 8rem;
        background-color: $apricot;
        border-radius: 10px;
        padding: 24px;
        color: $liver;
        text-decoration: none;
        @include tabletSize{
            width: 15rem;
            height: 100px;
        }
    }
    &__title{
        font-size: 18px;
        text-decoration: none!important;
        text-transform: capitalize;
        @include tabletSize{
            font-size: 28px;
        }
        &:visited{
            text-decoration: none!important;
        }
        &:active{
            text-decoration: none!important;
        }
    }
}

